/* Theme styling */
.dark_mode {
  background-color: #3c3b3f;
  color: #ddd;
}

.light_mode {
  background-color: #fff;
  color: #222;
}
/* END of Theme */

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #13a8ff;
  animation: spin 0.8s ease-in-out infinite;
}

.loader p {
  margin-top: 6rem;
  font-weight: 700;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* END of Loader */

/* General styling */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  margin: 0 auto;
}

h5,
h6 {
  margin-bottom: 0;
}

/* END of General styling */

.developer_note_div {
  position: relative;
  padding: 10px;
  font-size: 12px;
  box-shadow: rgba(155, 155, 155, 0.3) 0px 3px 8px;
}

.weather_information_container,
.footer_div,
.developer_note_div {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: rgba(144, 144, 144, 0.35) 0px 5px 15px;
  width: 100%;
}

.weather_container_left_panel {
  width: 100%;
  max-width: 30%;
  padding: 0.5rem;
}

.weather_container_right_panel {
  width: 100%;
  max-width: 70%;
}

input[type="text" i] {
  max-width: 100%;
  border: 2px solid #84abc1;
}

.cities_div_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 180px);
  grid-template-rows: auto;
  grid-gap: 10px;
  overflow-x: scroll;
  padding: 10px 5px 10px 0;
}

.cities_div {
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  background-color: #424242;
  border-radius: 10px;
}

.cities_div_wrapper > p {
  font-size: 12px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 180px;
  grid-gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.weather_props_column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #858584; */
  background-color: #424242;
  border-radius: 10px;
}

.weather_props_column img {
  width: 80px;
  height: auto;
}

.hourly_updated_weather_container {
  margin-top: 1rem;
}

.hourly_updated_weather_div_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.weather_update_div {
  width: 100%;
  max-width: 200px;
  min-width: 180px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px 10px 10px 0;
  padding: 0.5rem;
  /* background-color: #858584; */
  background-color: #424242;
  border-radius: 10px;
}

.footer_div {
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Media queries of medium size devices */
@media screen and (max-width: 768px) {
  .weather_information_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .weather_container_left_panel,
  .weather_container_right_panel {
    max-width: 100%;
  }

  .weather_container_top_section {
    text-align: center;
  }

  .weather_title_div h1 {
    text-align: center;
    margin-top: 0.5rem;
  }

  .row {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    place-items: center;
  }
}

/* Media queries for smaller devices */
@media screen and (max-width: 500px) {
  .weather_temperature_data_div h1 {
    font-size: 2.5rem;
  }

  input[type="text" i] {
    width: 95%;
  }

  .weather_props_column {
    flex-direction: column;
    max-width: 100%;
    min-width: 165px;
    min-height: 150px;
    max-height: 100%;
    text-align: center;
  }

  .weather_props_column img {
    width: 50px;
  }
}

@media screen and (max-width: 375px) {
  input[type="text" i] {
    width: 100%;
  }

  .row {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .weather_props_column {
    max-width: unset;
    min-width: unset;
    max-height: 150px;
    min-height: 120px;
  }
}

/* Media queries for ultra large screen devices */
@media screen and (min-width: 2000px) {
  .weather_information_container,
  .developer_note_div,
  .footer_div {
    max-width: 1500px;
  }
}
